@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

html, body {
  direction: ltr !important;
  text-align: left !important; /* Ensure content aligns left in LTR mode */
}

body {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    direction: ltr !important;
    text-align: left !important;
}

body:focus,
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus,
[tabindex]:focus {
    outline: none !important;
    border: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Mona Sans", sans-serif;
    font-weight: 700;
    margin-top: 1.5em;
    margin-bottom: 0.8em;
}

p,
li,
div,
strong,
em,
span,
pre,
code,
blockquote {
    font-family: "Mona Sans", sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}